@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   @font-face {
      font-family: 'Lubri';
      src: url('@/assets/fonts/W3.ttc') format('truetype');
   }
   /* global style */
   * {
      font-family: 'Lubri';
      @apply text-xl;
      button {
         @apply ml-4 rounded-md p-2 text-2xl shadow-lg;
         &:hover {
            @apply animate-jump bg-primary ring-2 ring-cyan-200  ring-offset-2 animate-duration-500 animate-once;
         }
      }
      .note-card {
         @apply m-2 max-h-[480px] w-64 overflow-hidden rounded-xl border-8 border-primary px-4 shadow-lg max-sm:m-auto max-sm:w-[360px];
         &:hover {
            @apply -translate-y-1 hover:scale-105;
         }
      }
   }
   body {
      @apply overflow-y-scroll bg-gray-50;
   }
}

@layer components {
   /* NavBar */
   nav {
      @apply flex h-full w-full flex-row items-center justify-between shadow-lg max-sm:shadow-none;
      div > a {
         @apply ml-4 rounded-md p-2 text-2xl shadow-lg;
         &:hover {
            @apply animate-jump bg-primary ring-2 ring-cyan-200  ring-offset-2 animate-duration-500 animate-once;
         }
      }
   }
   /* Login & Signup Page*/
   .form-control {
      @apply mx-auto mt-10 flex w-3/6 flex-col space-y-12 rounded-md border-8 border-primary bg-white p-12 drop-shadow-lg max-sm:w-full max-sm:space-y-6;
      input {
         @apply border-b-2 text-3xl outline-none;
      }
      button {
         @apply mx-auto rounded-md border-2 px-2 text-4xl;
         &:hover {
            @apply bg-green-100 shadow-md;
         }
      }
   }
}

@layer utilities {
   .start-btn {
      @apply max-sm:m-0 max-sm:mt-4;
   }
   .wallet {
      @apply max-sm:m-0 max-sm:ml-6 max-sm:mt-0;
   }
   .photo {
      @apply max-sm:m-0 max-sm:mt-6;
   }
   .ticket {
      @apply max-sm:m-0 max-sm:-ml-6 max-sm:mt-6;
   }
   .camera {
      @apply max-sm:m-0 max-sm:mb-96  max-sm:ml-6;
   }
   .case {
      @apply max-sm:absolute max-sm:m-0 max-sm:ml-[100px] max-sm:mt-20  max-sm:w-36;
   }
   .smallCase {
      @apply max-sm:m-0 max-sm:-mt-[20px] max-sm:ml-[100px];
   }
   .globe {
      @apply max-sm:ml-5;
   }
   /* .start-btn {
    @apply max-sm:m-0 max-sm:mt-4
  }  */
}

/* Error */
.error {
   @apply mx-auto rounded-md bg-red-400  p-2 text-2xl text-white;
}
